{% extends "base.html" %}

{% block body %}
    <form id="new" method="post">
        <table>
            {{ form.as_table }}
            <tr>
                <th>Tags:</th>
                <td>
                    <input type="text" name="tags" value="{{ tags }}"/>
                    (Comma separated)
                </td>
            </tr>
            <tr>
                <td colspan="2">You can, if you want, include am mp3 file in your post and feeds. 
                Just fill in the field below an mp3 url</td>
            </td>
            <tr>
                <th>MP3 Url?:</th>
                <td>
                    <input type="text" name="mp3url" value="{{ mp3url }}"/>
                    (Optional)
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" value="Post"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
