{% extends "base.html" %}

{% block body %}
    <form id="new" method="post">
            {{ form.as_p }}
            <p>
            <label>Tags:</label>
                <input type="text" name="tags" value="{{ tags }}"/>
                (Comma separated)
            </p>
            <p class="info">
            You can, if you want, include am mp3 file in your post and feeds. 
            Just fill in labele field below an mp3 url
            </p>

            <p>
            <label>MP3 Url?:</label>
                <input type="text" name="mp3url" value="{{ mp3url }}"/>
                (Optional)
            </p>
            <p style="margin-top: 1em;">
                    <input type="submit" value="{% block submit_value %}Post{% endblock %}"/>
                    <a style="margin-left: .5em;" href="{% block cancel_link %}/{% endblock %}">Cancel</a>
            </p>
    </form>
{% endblock %}
